<nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark" role="navigation">
  <div class="container">
    <a class="navbar-brand " href="/">Top</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav mr-auto">　
        <%# <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li> %>
        <li class="nav-item">
          <%= link_to "このサイトについて", "#", class:"nav-link" %>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item dropdown">

        <!-- ドロップダウンメニュー -->
         <%# <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Dropdown
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="#">Action</a>
           <a class="dropdown-item" href="#">Another action</a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item" href="#">Something else here</a>
         </div> %>
        <!-- ドロップダウンメニュー，ここまで -->
        </li>
        <li class="nav-item">
          <%= link_to "ユーザ登録", new_user_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "チーム登録", "#", class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", "#", class:"nav-link" %>
        </li>
      </ul>

    </div>
  </div>
</nav>