<div class="home">
  <div class="top-wrapper">
    <div class="top-mask">
      <h1 class="text-center" id="top-heading">データで差をつけろ。</h1>
    </div>
  </div>

  <p class="container my-5 description">
    「進学校だから部活は弱くても仕方ない」，「練習時間を一番確保したチームが一番強い」。今，これらの常識は通用しなくなっている。
    それはなぜか。「データ」を有効活用することで勝率を高めることができるようになったからだ。
    このアプリとともに組織内でデータ分析に焦点を当てて，より効率的に組織力を向上させてみないか。
  </p>

  <div class="middle-wrapper container">
    <h1 class="text-center heading">データ導入事例</h1>

    <div class="team-wrapper">
      <h2 class="simple-heading">N大学 硬式野球部</h2>

      <div>
        <p class="font-weight-bold">このアプリの使用方法</p>
        <p class="description">
          毎日の練習内容のメモ，一週間ごとに行う個人の部日誌の提出，戦略・戦術のチーム内共有
        </p>
      </div>

      <div>
        <p class="font-weight-bold">成果</p>
        <p class="description">
          毎日学んだことをチーム内で共有することによって，組織のまとまりがよくなった。また部日誌の提出によって，各個人がどのような思いを
          背負いながら練習できているのかを共有することができるので，チーム内の各個人のモチベーションが上がった。その結果，リーグ戦で一位を
          取ることができた。
        </p>
      </div>

      <div>
        <p class="font-weight-bold">このアプリを使用して</p>
        <p class="description">
          これまではただ単に練習をこなすだけであったが，このアプリでデータをチーム内で共有することによって，
          自分達には何が足りていないのか，そしてリーグ戦で良い結果を出すにはどのような練習をするべきなのかを深く考えさせられた。
          皆さんもぜひこのアプリを使用して，効率的な練習をしてください。
        </p>
      </div>

    </div>
  </div>

  <div class="middle-wrapper container my-5">

    <div class="team-wrapper">
      <h2 class="simple-heading">I高校 硬式野球部</h2>

      <div>
        <p class="font-weight-bold">このアプリの使用方法</p>
        <p class="description">
          毎日の練習内容のメモ，一週間ごとに行う個人の部日誌の提出，試合結果・個人成績の管理
        </p>
      </div>

      <div>
        <p class="font-weight-bold">成果</p>
        <p class="description">
          毎日の部日誌で日々の反省を振り返ることで，自分に足りないところを再確認することができた。また個人成績を管理し，
          打者であったら自分の苦手なコースはどこかを確認でき，投手ならどのような配球をすると打たれてしまうかを分析することが
          できる。
        </p>
      </div>

      <div>
        <p class="font-weight-bold">このアプリを使用して</p>
        <p class="description">
          データを分析することで，自分達が何をすべきかが明確になる。ただがむしゃらに練習しても，良い結果は得られない。
          自分達のチームが足りないところをデータから分析し，それを補うような練習方法を考えることができるようになった。
        </p>
      </div>

    </div>
  </div>

  <% unless logged_in? %>
    <div class="container text-center">
      <h1 class="text-center heading">ユーザ登録はこちら</h1>

      <!-- PC・タブレット -->
      <div class="d-none d-md-block">
        <%= link_to "ユーザ登録", new_user_path,  class: "btn btn-primary btn-lg col-lg-4 my-3" %>
        <%= link_to "ログイン", login_path,  class: "btn btn-success btn-lg col-lg-4 my-3" %>
      </div>

      <!-- スマートフォン -->
      <div class="d-md-none">
        <%= link_to "ユーザ登録", new_user_path,  class: "btn btn-primary btn-lg col-lg-4 my-3" %>
        <%= link_to "ログイン", login_path,  class: "btn btn-success btn-lg col-lg-4 my-3" %>
      </div>

    </div>
  <% end %>
</div>