<f class="home">
  <div class="top-wrapper">
    <div class="top-mask">
      <h1 class="text-center" id="top-heading">データで差をつけろ。</h1>
    </div>
  </div>

  <p class="container my-5 description">
    「進学校だから部活は弱くても仕方ない」，「練習時間を一番確保したチームが一番強い」。今，これらの常識は通用しなくなっている。
    それはなぜか。「データ」を有効活用することで勝率を高めることができるようになったからだ。
    このアプリとともに組織内でデータ分析に焦点を当てて，より効率的に組織力を向上させてみないか。
  </p>

  <div class="middle-wrapper container">
    <h1 class="text-center" id="heading">データ導入事例</h1>

    <div class="team-wrapper">
      <h2 class="simple-heading">N大学 硬式野球部</h2>

      <div>
        <p class="font-weight-bold">このアプリの使用方法</p>
        <p class="description">
          毎日の練習内容のメモ，一週間ごとに行う個人の部日誌の提出，戦略・戦術のチーム内共有
        </p>
      </div>

      <div>
        <p class="font-weight-bold">成果</p>
        <p class="description">
          毎日学んだことをチーム内で共有することによって，組織のまとまりがよくなった。また部日誌の提出によって，各個人がどのような思いを
          背負いながら練習できているのかを共有することができるので，チーム内の各個人のモチベーションが上がった。その結果，リーグ戦で一位を
          取ることができた。
        </p>
      </div>

      <div>
        <p class="font-weight-bold">このアプリを使用して</p>
        <p class="description">
          これまではただ単に練習をこなすだけであったが，このアプリでデータをチーム内で共有することによって，
          自分達には何が足りていないのか，そしてリーグ戦で良い結果を出すにはどのような練習をするべきなのかを深く考えさせられた。
          皆さんもぜひこのアプリを使用して，効率的な練習をしてください。
        </p>
      </div>

    </div>
  </div>

  <div class="container text-center">
    <h1 class="text-center" id="heading">チーム登録はこちら</h1>

    <!-- PC・タブレット -->
    <div class="d-none d-md-block">
      <button type="button" class="btn btn-primary btn-lg col-lg-4 my-3">チーム登録</button>
      <button type="button" class="btn btn-success btn-lg col-lg-4 my-3">ログイン</button>
    </div>

    <!-- スマートフォン -->
    <div class="d-md-none">
      <button type="button" class="btn btn-primary btn-lg w-50 my-3">チーム登録</button>
      <button type="button" class="btn btn-success btn-lg w-50">ログイン</button>
    </div>

  </div>

  <!-- フッター (PC・タブレット) -->
  <footer class="py-5 d-none d-md-block">
    <div class="container">
      <a href="#">お問い合わせ</a>
      <a href="#">ログイン</a>
      <a href="#">チーム登録</a>
    </div>
  </footer>

  <!-- フッター (スマートフォン) -->
  <footer class="py-5 d-md-none text-center">
    <div class="container">
      <a href="#">お問い合わせ</a>
      <a href="#">ログイン</a>
      <a href="#">チーム登録</a>
    </div>
  </footer>
</div>