<div class="home my-3">
  <div class="top-wrapper">
    <h1 class="text-center" id="top-title">データで差をつけろ。</h1>
    <p>
      「進学校だから部活は弱くても仕方ない」，「練習時間を一番確保したチームが一番強い」。今，これらの常識は通用しなくなっている。
      それはなぜか。「データ」を有効活用することで勝率を高めることができるようになったからだ。
      このアプリとともに組織内でデータ分析に焦点を当てて，より効率的に組織力を向上させてみないか。
    </p>
  </div>
</div>